body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

nav {
  background-color: #008000;
  padding: 10px;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #f1f1f1;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-wrapper {
  background-color: #f1f1f1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h3 {
  margin: 0;
  color: #008000;
  font-size: 20px;
  margin-bottom: 10px;
}

.light-border {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  transition: border-color 0.3s ease-in-out;
}

.light-border:focus {
  border-color: #008000;
}

.add-owner {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.add-owner:focus {
  border-color: #008000;
}

.light-border[type="submit"] {
  background-color: #008000;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.light-border[type="submit"]:hover {
  background-color: #006400;
}

.like-button {
  background-color: #008000;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
}

.like-button:hover {
  background-color: #006400;
}

.like-count {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  clear: both;
}

li:last-child {
  margin-bottom: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}