body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color:#0000ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: #0000ff;
}